.container{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/Enter details.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;
   overflow: hidden !important;
}

.maincontentbox{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.maincontentbox>span {
    color: #000;
    font-size: 12px;
    font-family: Geologica;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logowrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logowrapper>img{
    width: 100%;
    max-width: 142px;
    animation: imageslideDown 2s ease-out;
}

@keyframes imageslideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.singerdesp{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.65rem;
}

.singercard{
    width: 7.85rem;
    height: 7.85rem;
    margin-top: -1rem;
    /* background-color: black; */
    background-image: url('../../assets/cd disc gif.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: singercardpopup 2s ease-out;
}

@keyframes singercardpopup {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.singercard>img{
    margin-top: 0.85rem;
    margin-right: 5px;
    width: 4.12rem;
    height: 4.12rem;

}
.singerdesp>p {
    width: 95%;
    color: #FFF;
    text-align: center;
    font-family: Geologica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 100% */ 
}

#singername {
    color: #131313;
    font-family: Geologica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

@keyframes fadeInAppearEffect {
    0% {
      opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  .singertextlines{
       animation: fadeInAppearEffect 2s ease-out;
  }

.formbox{
    width:22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.forminputbox{
    animation: fadeInAppearEffect 2s ease-out;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    width: 100%;
    height:4.1rem;
    /* background-color: black; */
    background-image: url('../../assets/inputbackgn.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forminputbox>input,select{
    width: 100%;
    border: none !important;
    background: none;
    color: #B80000;
    font-family: Geologica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1rem;
}

.forminputbox select option {
    padding: 1rem;
    font-size: 1rem;
    font-family: Geologica;
    font-weight: 300;
    color: #131313;
  }


.forminputbox>input:focus, .forminputbox>select:focus {
    outline: none;
    border: none !important;
}

.forminputbox>input::placeholder,select::placeholder{

    color: #B80000;
    font-family: Geologica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formcheckbox {
    animation: fadeInAppearEffect 2s ease-out;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    text-align: center;
    font-family: Geologica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .formcheckbox input[type="checkbox"] {
    display: none;
  }
  
  .formcheckbox input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
  }
  
  .formcheckbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    padding: 5px;
    border-color:#FFF; 
    border-radius: 2px;
    background-color:  #FFF; 
    color: #fff;
    text-align: center;
    font-family: Geologica;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .formcheckbox input[type="checkbox"]:checked + label:before {
    background-color:#fff;
    border-color: #D21F32;
    color: #fff;
    text-align: center;
    font-family: Geologica;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .formcheckbox input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #D21F32;;
    border-width: 0 2.2px 2.2px 0;
    transform: rotate(45deg);
  }

  
  @keyframes slideUpbtnwrapper {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUpbtnwrapperdesktop {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.btnwrapper{
    width:16rem;
    height:auto;
    overflow: hidden;
    background-image: url('../../assets/Union.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0;
    cursor: pointer;
    animation: slideUpbtnwrapper 2s ease-out;
}

.btnwrapper>button{
    background: none;
    color: #BE1E2D;
    text-align: center;
    font-family: Geologica;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.errordisplay{
        position: absolute;
        bottom: 4rem;
        left: auto;
        z-index: 1;
       width:20rem;
       padding: 1rem;
       display:flex;
       align-items: center;
       justify-content: center;
       gap:1rem;
       border-radius: 6px;
       border: 2px solid #D21F32;
       background: #FFF;
}

.errordisplay>img{
       width: 2.5rem;
       height: 2.5rem;
}

.errorwrapper{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: flex-start;

}

.errorwrapper>h3{
        color: #B80000;
        text-align: center;
        font-family: Geologica;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.64px;
}

.errorwrapper>span{
    color: rgba(0, 0, 0, 0.50);
    font-family: Geologica;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 13px; /* 108.333% */
}






/*iPhone 7 / 13 mini */
@media screen and (min-width: 375px) {
  .container{
    display: flex;
    justify-content:flex-start;
    gap:0rem;
}

.logowrapper>img{
  width: 100%;
  max-width: 142px;
}

.maincontentbox{
  width: 100%;
  display: flex;
  align-items: center;
}

.singercard{
  margin-top: -2rem;
  width: 9.25rem;
  height:9.25rem;
}

.singercard>img{   
  margin-top: 0.87rem;
  margin-right: 4px;
   width: 4.27rem !important;
   height: 4.27rem !important;
}

.singerdesp>p {
  width: 85%;
  font-size: 17px;
  line-height: 1.3rem;
}

#singername {
  font-size: 17px;
}

.forminputbox>input,select{
  font-size: 19px;
  padding-left: 1rem;
}

.forminputbox>input::placeholder,select::placeholder{
 font-size: 19px;
}

.forminputbox select {
font-size: 19px;
}

.forminputbox select option {
font-size: 19px;
}

 .formbox{
   width:22rem;
   gap: 0.5rem;
 }

 .forminputbox{
       animation: slideUpbtnwrapper 2s ease-out;
 }

 .formcheckbox {
   margin-top: 0.5rem;
   margin-left: -1rem;
   gap: 0rem;
   color: #fff;
   font-size: 1rem;
 }

 .btnwrapper{
   width:16rem;
   height:auto;
   overflow: hidden;
   gap:0;
   cursor: pointer;
   animation: slideUpbtnwrapper 2s ease-out;
}

.btnwrapper>button{
   font-size: 19px;
}


}


/* moto g34 */
@media screen and (min-width: 426px) and (max-width:539px) {
  .container{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:0.5rem;
}

  .logowrapper>img{
    width: 100%;
    max-width: 180px;
}

  .maincontentbox{
    margin-top:1rem;
    width: 100%;
    display: flex;
    gap:1rem;
    align-items: center;
  }

  .singercard{
    margin-top: -2.5rem;
    width: 12rem;
    height:12rem;
  }

  .singercard>img{   
    margin-top: 0.8rem;
    margin-right: 4px;
   max-width: 9.2rem !important;
   max-height: 9.2rem !important;
}
  .singerdesp>p {
    margin-top:2rem;
    width: 85%;
    font-size: 19px;
    line-height: 1.5rem;
  }

  #singername {
      font-size: 21px;
  }

  .forminputbox>input,select{
     font-size: 22px;
     padding-left: 1rem;
  }

  .forminputbox>input::placeholder,select::placeholder{
    font-size: 22px;
}

.forminputbox select {
  font-size: 22px;
}

.forminputbox select option {
  font-size: 22px;
}

    .formbox{
      width:24rem;
      gap: 1.5rem;
    }

    .forminputbox{
          animation: slideUpbtnwrapper 2s ease-out;
    }


    .formcheckbox {
      margin-top: 2.5rem;
      margin-left: -3rem;
      gap: 0rem;
      color: #fff;
      font-size: 1rem;
    }


    .btnwrapper{
      width:17rem;
      height:auto;
      overflow: hidden;
      gap:0;
      cursor: pointer;
      animation: slideUpbtnwrapper 2s ease-out;
  }
  
  .btnwrapper>button{
      font-size: 26px;
  }

}


/* redmi */
@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {

  .container{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:0.5rem;
}

  .logowrapper>img{ 
    width: 100%;
    max-width: 180px;
}

  .maincontentbox{
    margin-top:-1.2rem;
    width: 100%;
    display: flex;
    gap:1rem;
    align-items: center;
  }

  .singerdesp>p {
    margin-top:0rem;
    width: 90%;
    font-size: 16px;
    line-height: 1.5rem;
  }

  .formcheckbox {
    margin-top: 2.5rem;
    margin-left: -3rem;
    gap: 0rem;
    color: #fff;
    font-size: 1rem;
  }


}

/* oneplus */
@media only screen and (-webkit-min-device-pixel-ratio: 2.625) {
  .container{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:0.5rem;
}

  .logowrapper>img{
    width: 100%;
    max-width: 140px;
}

  .maincontentbox{
    margin-top:0.5rem;
    width: 100%;
    display: flex;
    gap:1rem;
    align-items: center;
  }

  .singercard{
    margin-top: -2rem;
  }

  .formbox{
    width:22rem;
    gap: 0.5rem;
  }

  .formcheckbox {
    margin-top: 2.5rem;
    margin-left: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: #fff;
    font-size: 14px;
  }


}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .container{
        background-image: url('../../assets/registerbgdesktop.png');
    } 

    .singercard{
        width: 9.75rem;
        height: 9.75rem;
        margin-top: -2rem;
    }
    
    .singercard>img{   
         margin-top: 0.8rem;
        margin-right: 4px;
        max-width: 6.4rem;
        max-height: 6.4rem;
    }
    .singerdesp>p {
        width: 28rem;  
    }

    .forminputbox{
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        width: 79%;
        height:3.2rem;
    }

    .formcheckbox {
      animation: fadeInAppearEffect 2s ease-out;
      margin-top: 2.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: #fff;
      text-align: center;
      font-family: Geologica;
      font-size: 13.6px;
    }
    .formbox{
      gap: 0.5rem;
  }

    .btnwrapper{
         animation: slideUpbtnwrapperdesktop 2s ease-out;
    }

    .btnwrapper>button{
      font-size: 18px;
  }

  .errordisplay{
    position: absolute;
    bottom: 2rem;
    left: auto;
}

}

/* xl */
@media (min-width: 1280px) {

    .container{
        background-image: url('../../assets/registerbgdesktop.png');
    } 

    .btnwrapper{
        animation: slideUpbtnwrapperdesktop 2s ease-out;
   }

}

/* 2xl */
@media (min-width: 1536px) {

    .container{
        background-image: url('../../assets/registerbgdesktop.png');
    } 

}