.container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #D21F32;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

@keyframes topleftpinksheetslideInDiagonal {
  0% {
      transform: translate(-100%, -100%);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}

#topleftpinksheet{
  position: absolute;
  top: -5px;
  left: 0;
  animation: topleftpinksheetslideInDiagonal 2s ease-out forwards;
}


@keyframes topleftletterslideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

#topleftletter{
  width: 100px;
  height: 89px;
  position: absolute;
  top: 100px;
  left: -30px;
  animation: topleftletterslideIn 2s ease-out forwards;
  
}

@keyframes topleftheartslideIn {
  0% {
      transform: translateY(-100%);
      opacity: 0;
      transform-origin: top center;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

#topleftheart{
  position: absolute;
  top: -30px;
  left: 100px;
  animation: topleftheartslideIn 2s ease-out forwards;
}

#toprightletter{
  width: 140px;
  height: 179px;
  position: absolute;
  top: 1px;
  right: -62px;
  animation: topleftpinksheetslideInDiagonal 2s ease-out forwards;    
}

@keyframes xoxobackgroundslideIn {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
#xoxobackground{
  width: 300.652px;
  height: 262.654px;
  transform: rotate(-16.707deg);
   position: absolute;
   top:25.6%;
   right: -117px;     
   animation: xoxobackgroundslideIn 2s ease-out forwards; 
}

@keyframes slideInFromBottomCenter {
  0% {
      transform: translateY(100%) rotate(32.465deg);
      opacity: 0;
      transform-origin: bottom center;
  }
  100% {
      transform: translateY(0) rotate(32.465deg);
      opacity: 1;
  }
}

#xoxo{
  width: 52px;
  height: 31px;
  position: absolute;
  top:43.67%;
  right: 20px; 
  animation: slideInFromBottomCenter 2s ease-out forwards;

}

@keyframes slideInFromBottomCenterGiftbox {
  0% {
      transform: translate(50%, 50%);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}

#giftbox{
      width: 153.48px;
      height: 126px;
      position: absolute;
      top: 60%;
      left: -59px;
      animation: slideInFromBottomCenterGiftbox 2s ease-out forwards;
}

@keyframes bottomleftbackgslideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

#bottomleftbackground{
  width: 243.1px;
  height: 110px;
  position: absolute;
  bottom: -42px;
  left: -59px;
  animation: bottomleftbackgslideIn 2s ease-out forwards; 
}

@keyframes bottomrightslideInDiagonal {
  0% {
      transform: translate(100%, 100%);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}

#bottomrightpinkpaper{
  width: 210.236px;
  height: 126px;
  position: absolute;
  bottom: -6px;
  right: -45px;
  animation: bottomrightslideInDiagonal 2s ease-out forwards;
}

#bottomrightroses{
  width: 108.443px;
  height: 96.254px;
  position: absolute;
  bottom: 10px;
  right: 12px;
  animation: topleftheartslideIn 2s ease-out forwards;

}

.maincontentbox{
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  justify-content:space-between;
}

.logowrapper{
    width: 100%;
    height: 240px;
    display:block;
    position: relative;
}

#closeuplogoletter{
    width:  103px;
    height: 31px;
    position: absolute;
    top:0;
    left:20%;
}
#LLetter{
    width: 52.773px;
    height: 75.95px;
    position: absolute;
    top:30px;
    left:20%;
}

#heartfrequency{
  width: 87.989px;
  height: 75.88px;
  position: absolute;
  top:30px;
  left:26%;
  background-image: url('../../assets/Closeup logo Variation (3) 1.png');
   background-size: contain;
   background-position: center center;
   display: flex;
   align-items: center;
   justify-content: center;
}

#heartfrequency>img{
  width: 55px;
  height: 45px;
}

#VLetter{
    width: 77.954px;
    height: 75.95px;
    position: absolute;
    top:30px;
    left:46.61%;
}
#ELetter{
    width: 55.451px;
    height: 75.95px;
    position: absolute;
    top:30px;
    left:65.55%;
}

#TLetter{
width: 99.41px;
height: 99.455px;
position: absolute;
top:80px;
left:20%;
}

#ULetter{
    width: 56.41px;
    height: 25.455px;
    transform: rotate(-13.676deg);
    position: absolute;
    top:140px;
    left:29.74%;
    }

    #nLetter{
        width: 56.41px;
        height: 25.455px;
        transform: rotate(-13.676deg);
        position: absolute;
        top:130px;
        left:37.68%;
        }

        #eLetter{
            width: 65.41px;
            height: 29.455px;
            transform: rotate(-13.676deg);
            position: absolute;
            top:120px;
            left:45.98%;
       }

        #sLetter{
            width: 74.41px;
            height: 34.455px;
            transform: rotate(-13.676deg);
            position: absolute;
            top:100px;
            left:57.12%;
        }


        @keyframes float {
          0%, 100% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-5px);
          }
        }
        
        /* @keyframes settle {
          0% {
            transform: translateY(-10%);
            opacity: 0;
          }
          50% {
            transform: translateY(10%);
            opacity: 1;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        } */

        #topleftpinksheet,
        #topleftletter,
        #topleftheart,
        #toprightletter,
        #bottomleftbackground,
        #bottomrightpinkpaper,
        #bottomrightroses
        #closeuplogoletter,
        #LLetter,
        #lovesymbol,
        #VLetter,
        #ELetter
         {
          animation: float 2s ease-in-out 2s forwards;
        }





.content{
    margin-top: -1.2rem;
    margin-bottom: 0.5rem;
    width:15rem;
    overflow: hidden;
}

.content>p{
    color: #FFF;
    text-align: center;
    font-family: Geologica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btnwrapper{
    margin-top: 4rem;
    width:14rem;
    height: auto;
    overflow: hidden;
    background-image: url('../../assets/Union.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;

}

.btnwrapper>button{
    background: none;
    color: #BE1E2D;
    text-align: center;
    font-family: Geologica;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


@keyframes slideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .content {
    animation: slideUp 0.5s ease-out;
  }
  
  .btnwrapper {
    animation: slideUp 0.5s ease-out;
  }
  
  

  
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    
    .content{
        width:100%;
    }

    .btnwrapper{
        margin-top:1rem;
        width:17rem;
    }

    .logowrapper{
        width: 50%;
        height: 240px;
    }


}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {


     .maincontentbox{
         gap:2.2rem
      }

      #topleftpinksheet{
      width: 283px;
      height: 194.78px ;

      }

      #topleftletter{
      width: 151px;
      height: 159px;
      position: absolute;
      top: 7.94rem;
      left: -30px;

      }

      #topleftheart{
      width: 156px;
      height: 132px;
      position: absolute;
      top: -35px;
      left: 15rem;
      }

      #toprightletter{
      width: 186px;
      height: 202px;
      position: absolute;
      top: -5px;
      right: -72px;

      }

      #xoxobackground{
      width: 324.652px;
      height: 282.654px;
      transform: rotate(-16.707deg);
      position: absolute;
      top:31%;
      right: -117px;   
      }

      #xoxo{
      width: 105px;
      height: 52px;
      position: absolute;
      top:50.67%;
      right: 20px; 
      transform: rotate(32.465deg);

      }

      #giftbox{
      width: 210.48px;
      height: 192px;
      position: absolute;
      top: 55.76%;
      left: -65px;

      }

      #bottomleftbackground{
      width: 333.1px;
      height: 140px;
      position: absolute;
      bottom: -42px;
      left: -59px;
      }

      #bottomrightpinkpaper{
      width: 333.236px;
      height: 156px;
      position: absolute;
      bottom: -6px;
      right: -45px;

      }

      #bottomrightroses{
      width: 165.443px;
      height: 161px;
      position: absolute;
      bottom: 10px;
      right: 12px;

      }

    .logowrapper{
        width: 28%;
        height: 240px;
    }

}

/* xl */
@media (min-width: 1280px) {


}

/* 2xl */
@media (min-width: 1536px) {




}