.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ensure animation fills the entire screen */
.animationContainer {
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.fullScreenAnimation {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}


/* Button Wrapper to appear above animation */
.btnwrapper {
  position: absolute;
  bottom: 14.12%;
  left: 50%;
  transform: translateX(-50%);
  width:100%;
  height:46px;
  background-image: url('https://closeup-project.s3.ap-south-1.amazonaws.com/registration-assets/Union.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  z-index: 2; /* Ensure button appears above animation */
}

/* Button Styling */
.btnwrapper > button {
  background: none;
  color: #BE1E2D;
  font-family: Geologica;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* Slide-up Animation */
@keyframes slideUp {
  0% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.btnwrapper {
  animation: slideUp 0.5s ease-out;
}

/* Responsive Adjustments */
@media (min-width: 375px) {
  .btnwrapper {
    bottom: 15%;
  }

  .btnwrapper > button {
    font-size: 1rem;
  }

}

/* Responsive Adjustments */
/* @media (max-width: 375px) and (min-width:540) {
  .btnwrapper {
    bottom: 15%;
  }

  .btnwrapper > button {
    font-size: 1rem;
  }

} */

@media (min-width: 1280px){

  .btnwrapper {
    bottom: 12%;
  }

  .btnwrapper > button {
    font-size: 1.2rem;
  }

}
